@tailwind base;
@tailwind components;
@tailwind utilities;

.navBarLink {
  @apply text-white hover:text-gray-400 flex items-center;
}

.navBarLinkIcon {
  @apply mr-2 text-xl;
}

h1 {
  @apply text-primary text-2xl font-bold mb-4 dark:text-white;
}

h2 {
  @apply text-primary text-2xl font-bold mb-4 dark:text-white;
}

h3 {
  @apply text-primary text-xl font-semibold mb-4 dark:text-white;
}

.btn {
  @apply flex items-center justify-center max-w-xs w-full px-6 py-3 rounded-md text-white font-semibold transition bg-primary hover:bg-CTAHover;
}

/* FeedBack */
.error-feedback {
  @apply text-red-500 dark:text-red-400;
}

.loading-feedback {
  @apply text-green-500 dark:text-green-400;
}
/* Profile */

.container-cta {
  @apply w-full flex items-center justify-end;
}

.container-profile-section {
  @apply py-4 dark:bg-gray-900 dark:text-white;
}

.cta-profile-style {
  @apply underline;
}

.cta-action {
  @apply bg-purple-600 text-white py-2 px-4 rounded hover:bg-purple-700 transition;
}

.cta-secondary {
  @apply bg-gray-400 text-white py-2 px-4 rounded-md hover:bg-gray-500 transition;
}

/* New pills */
.cta-success {
  @apply px-4 py-2 text-sm rounded-2xl bg-green-50 text-green-600 hover:bg-green-600 hover:text-white;
}

.cta-cancel {
  @apply px-4 py-2 text-sm rounded-2xl bg-gray-50 text-gray-600 hover:bg-gray-600 hover:text-white;
}

.cta-warning {
  @apply px-4 py-2 text-sm rounded-2xl underline;
}

.cta-danger {
  @apply px-4 py-2 text-sm rounded-2xl bg-red-50 text-red-600 hover:bg-red-600 hover:text-white;
}

/* containers*/
.container-text {
  @apply max-w-2xl mx-auto px-4 py-10 bg-white dark:bg-gray-800 shadow rounded-xl p-6 mb-6;
}
/* form */

@layer components {
  .form {
    @apply bg-white p-6 flex flex-col gap-4 w-full max-w-md dark:bg-gray-800;

    @apply sm:p-6;
    @apply md:p-6;
  }
  .input {
    @apply mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:ring focus:ring-blue-300 dark:bg-gray-900 dark:border-gray-600 dark:text-white;
  }
}
